<div class="col-xs-12 col-sm-6 col-md-3 product-listing">
    {% set productRoute = url('store_product_view', {
        'slug': product.getSlug,
        'locale': app.request.locale
    }) %}

    <a href="{{ productRoute }}" class="product-grid {% if product.stock <= 0 %}sold-out{% endif %}">

        {% block pin_image %}
        <img
            class="img-responsive center-block"
            alt="{{product.name}}"
            src="{{ product.images|length > 0 ? product.images.first|resize({
                'width': 390,
                'height': 305,
                'type': 5
            }) : 'http://placehold.it/372x291' }}" />
        {% endblock %}

        <h3 class="h3 text-center uppercase letter-spacing">{{ product.name }}</h3>

        <p class="description text-center txt-gray">{{ product.description }}</p>

        <p class="price text-center">
            {% if product.reducedPrice.amount > 0 %}
                {% set product_price = product.reducedPrice %}
            {% else %}
                {% set product_price = product.price %}
            {% endif %}

            {{ product_price|print_convert_money() }}

            {% if product_price.currency.iso != app.session.get('currency_id') %}

                - <span class="original-price">({{ product_price|print_money() }})</span>

            {% endif %}

            {% if product.stock <= 0 %}
                <span class="notice uppercase text-center letter-spacing">{{'soldout'|trans({}, 'product')}}</span>
            {% endif %}
        </p>
    </a>
</div>