{% trans_default_domain "store" %}

<div class="col-xs-12 col-sm-6 col-md-3 product-listing">
    {% set productRoute = url('store_product_view', {
        'slug': product.getSlug,
        'id': product.id,
        'locale': app.request.locale
    }) %}

    <a href="{{ productRoute }}" class="product-grid thumbnail {% if product.stock <= 0 %}sold-out{% endif %} {% if product.reducedPrice.amount > 0 %}sale{% endif %}">

        {% block pin_image %}
        <img
            class="img-responsive center-block"
            alt="{{product.name}}"
            src="{{ product.images|length > 0 ? product.images.first|resize({
                'width': 390,
                'height': 305,
                'type': 5
            }) : 'http://placehold.it/372x291' }}" />
        {% endblock %}

        <div class="caption">
            {% block product_info_details %}
            <h3 class="h3 text-center uppercase letter-spacing">{{ product.name }}</h3>

            <div class="description text-center txt-gray">{{ product.description|raw }}</div>

            <p class="price text-center">
                {% set product_price = product.price %}
                <span class="regular-price">{{ product.price|print_convert_money() }}</span>

                {% if product.reducedPrice.amount > 0 %}
                    {% set product_price = product.reducedPrice %}
                    <span class="reduced-price">{{ product_price|print_convert_money() }}</span>
                {% endif %}

                {% if product_price.currency.iso != app.session.get('currency_id') %}

                    - <span class="original-price">({{ product_price|print_money() }})</span>

                {% endif %}

                {% if product.stock <= 0 %}
                    <span class="notice uppercase text-center letter-spacing">{{ 'soldout'|trans }}</span>
                {% endif %}
            </p>
            {% endblock product_info_details %}
        </div>
    </a>
</div>